.products {
  margin: 60px 100px;
}

.products h3 {
  font-size: 2rem;
  margin-bottom: 0;
}

.hr {
  width: 70px;
  height: 4px;
  background-color: #6e9257;
  border-radius: 10px;
  margin: 0;
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.productContainer {
  width: 25%;
}

.productImage {
  width: 86%;
  height: 250px;
  background-color: #ecf2e6;
  margin: 30px 0;
  margin-right: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productImage img {
  height: 80%;
}

@media (min-width: 1920px) {
}

@media (min-width: 1200px) and (max-width: 1919px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 481px) and (max-width: 767px) {
}

@media (max-width: 480px) {
}
