.hero .top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.hero .top .left {
  width: 50%;
}

.left p {
  font-size: 50px;
  line-height: 170%;
  font-weight: bold;
  width: 90%;
}

.left button {
  background-color: #6e9257;
  border: none;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 15px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left button .icon {
  margin-left: 10px;
}

.left p span {
  color: #6e9257;
}

.hr {
  width: 30px;
  height: 1px;
  border: none;
  background-color: #333333;
  margin-left: 40px;
}

.socials {
  width: 20%;
}

.rotate {
  transform: rotate(90deg);
  margin-bottom: 40px;
  height: 100px;
}

.rotate2 {
  transform: rotate(90deg);
  margin-bottom: 40px;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.socialCont {
  width: 120px;
  height: 70px;
  position: relative;
}

.socialCont div {
  transform: rotate(-90deg);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: lighter;
}

.imgCount {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  width: 80%;
  position: relative;
  height: 400px;
}

.blockColor {
  background-color: #ecf2e6;
  width: 300px;
  height: 85%;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 30px;
}

.imgContainer {
  width: 260px;
  height: 75%;
  position: absolute;
  top: 20px;
  left: 120px;
  margin-top: 30px;
}

.imgContainer img {
  height: 100%;
  width: 100%;
}

.imgCount {
  display: flex;
  position: absolute;
  bottom: -10px;
  right: 50px;
  //transform: translateX(-150px);
}

.imgCount p {
  margin: 0 10px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.infoContainers {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 200px;
}
