.hero .top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 100px;
}

.hero .top .left {
  width: 50%;
}

.left p {
  font-size: 3.125rem;
  line-height: 170%;
  font-weight: bold;
  width: 90%;
}

.left button {
  background-color: #6e9257;
  border: none;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 15px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.left button:hover {
  letter-spacing: 4px;
  transition: 0.5s;
}

.left button .icon {
  margin-left: 10px;
}

.left p span {
  color: #6e9257;
}

.hr {
  width: 30px;
  height: 1px;
  border: none;
  background-color: #333333;
  margin-left: 40px;
}

.socials {
  width: 20%;
}

.rotate {
  transform: rotate(90deg);
  margin-bottom: 40px;
  height: 100px;
}

.rotate2 {
  transform: rotate(90deg);
  margin-bottom: 40px;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.socialCont {
  width: 120px;
  height: 70px;
  position: relative;
}

.socialCont div {
  transform: rotate(-90deg);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: lighter;
}

.imgCount {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  position: absolute;
  left: 30%;
}

.imageContainer {
  width: 80%;
  position: relative;
  height: 400px;
}

.blockColor {
  background-color: #ecf2e6;
  width: 70%;
  height: 85%;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 30px;
}

.imgContainer {
  width: 50%;
  height: 75%;
  position: absolute;
  top: 20px;
  left: 5%;
  margin-top: 30px;
}

.imgContainer img {
  height: 100%;
  width: 100%;
}

.imgCount {
  display: flex;
  position: absolute;
  bottom: -15px;
  right: 50px;
}

.imgCount p {
  margin: 0 10px;
  padding-bottom: 5px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 80px 100px 0;
}

.heroInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.heroInfo p {
  font-size: 1rem;
  margin-left: 10px;
  font-weight: bold;
  letter-spacing: 1px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hero .top {
    margin: 20px 80px;
  }

  .bottom {
    margin: 80px 80px 0;
  }

  .infoContainers {
    column-gap: 78px;
  }

  .socialCont {
    width: 100px;
  }

  .imgContainer {
    width: 70%;
    left: 0%;
  }
  .left p {
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 481px) and (max-width: 767px) {
}

@media (max-width: 480px) {
}
