.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 100px;
}

.logo h1 span {
  color: #6e9257;
}

.navlink ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.navlink ul li {
  margin: 0 30px;
}

.navlink ul li a {
  text-decoration: none;
  font-size: 1.125rem;
  color: #333333;
}

.navlink ul li a:hover {
  color: #6e9257;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .header {
    margin: 0 80px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 481px) and (max-width: 767px) {
}

@media (max-width: 480px) {
}
